body {
  margin: 0;
  font-family: 'GalanoGrotesque', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
}

code {
  font-family: 'GalanoGrotesque', 'Courier New', monospace;
}

@font-face {
  font-family: 'GalanoGrotesqueMedium';
  src: url('./fonts/galanogrotesque-medium.otf') format('opentype');
  font-weight: medium;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('./fonts/galanogrotesque-regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('./fonts/galanogrotesque-semibold.otf') format('opentpye');
  font-weight: 600;
}
